@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color:#3cba54;
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--second-bg-color);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--main-color);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
  }


/*POPUP DOLOG*/

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    margin: 200px auto;
    padding: 20px;
    background: var(--bg-color);
    border-radius: 2.5rem;
    width: 35%;
    position: relative;
    transition: all 5s ease;
}

@media (max-width: 768px) {
    .popup{
        margin: 75px auto;
        width: 80%; /*MENTÉS ELŐTT ITT 70volt*/
    }
}

.popup h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: var(--main-color);
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: var(--main-color)
}
.popup .close:hover {
    color:var(--main-color);
}
.popup .content {
    max-height: 500px;
    /*overflow-y: scroll;*/
    font-size: 1.6rem;
    overflow-y: scroll;
}

.popupp{
    text-align: justify;
    padding: 10px;
}

.popupimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 40px;
    padding: 10px;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}


body {
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky{
    border-bottom: 1rem solid rgba(red);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
}

.logo span {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: pointer;
}


.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transform: 0.3s;
}

.navbar a:hover {
    color: var(--main-color);
}


.menuicon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3{
    font-size: 3.0rem;
    font-weight: 700;
}

.home-content h1{
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h1 span{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
}

.home-img img{
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 8rem;
}

/*.fooldalp{
    padding-right: 500px;
}*/

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-content p{
    font-size: 1.6rem;
    margin-top: 20px;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5 ease;
}


.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn:hover{
    box-shadow: none;
}


.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img{
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 8rem;
}


.heading{
    text-align: center;
    font-size: 4.5rem;
}


.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}


.teams h2{
    margin-bottom: 5rem;
}

.teams h2 span{
    color: var(--main-color);
}

.teams-container{
    display: grid;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 10px 2em;

}


.teams-container .teams-box{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transform: 0.5s ease;
    margin-bottom: 30px;
}

.teams-container .teams-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.teams-box img{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.teams-box i{
    font-size: 7rem;
    color: var(--main-color);
}

.teams-box h3{
    font-size: 2.6rem;
}

.teams-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}


.news{
    background: var(--second-bg-color);
}

.news h2{
    margin-bottom: 4rem;
}

.news h2 span{
    color: var(--main-color);
}

.news-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.news-container .news-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.news-box img{
    width: 100%;
    transition: 0.5s ease;
}

.news-box:hover img{
    transform: scale(1.1);
}

.news-box .news-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}


.news-box:hover .news-layer{
    transform: translateY(0);
}

.news-layer h4{
    font-size: 3rem;
    color: var(--bg-color);
    font-weight: 901;
}

.news-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    color: var(--bg-color);
    font-weight: 901;
}

.news-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.news-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}


.contact h2{
    margin-bottom: 3rem;
}

.contact h2 span{
    color: var(--main-color);
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}


.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}


.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}


.footer-text p{
    font-size: 1.6rem;
}

.footer-text p a{
    color: var(--main-color);
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}



/*Töréspontok*/
@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}


@media (max-width: 991px){
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }
    .contact{
        min-height: auto;
    }
    .news {
        padding-bottom: 7rem;
    }
    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 991px){ /*ez 768volt!*/
    .menuicon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home{
        flex-direction: column;

    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img{
        margin-top: 4rem;
    }

    .about{
        flex-direction: column-reverse;
    }

    .about img{
        margin-top: 4rem;
        width: 30vw;
    }

    .news{
        flex-direction: column;
    }

    .news-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .news h2{
        margin-bottom: 2rem;
    }

    .teams h2{
        margin-bottom: 2rem;
    }

    .teams-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:617px){
    .teams-container{
        grid-template-columns: 1fr;
    }

    .news-container{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }

    .contact form .input-box input{
        width: 100%;
    }
}

@media (max-width:365px){
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}